body {
    min-width: 1200px;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #283136
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px
}

.header_content {
    padding-top: 49px;
    margin-bottom: 82px;
    background-color: #eee
}

.logo {
    float: left;
    width: 220px
}

.main_nav {
    float: left;
    margin-left: 118px
}

.main_nav ul {
    margin: 0;
    padding: 0;
    font-size: 0
}

.main_nav li,.toggle_controls label {
    display: inline-block;
    vertical-align: baseline
}

.main_nav a {
    display: block;
    padding: 26px 23px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    vertical-align: top;
    text-decoration: none
}

.main_nav a:hover {
    color: #fb565a
}

.main_nav a:active {
    color: #000;
    opacity: .3
}

.active {
    position: relative;
    background-color: none
}

.active::after {
    content: "";
    position: absolute;
    width: 64%;
    height: 2px;
    bottom: 20px;
    left: 23px;
    background-color: #e74246
}

.active a:hover {
    background: 0 0
}

.user_menu {
    float: right;
    max-width: 180px
}

.user_buy {
    display: inline-block;
    padding: 26px 0 26px 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    vertical-align: top;
    text-decoration: none
}

.user_buy::before {
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: 0 -153px;
    width: 15px;
    height: 15px;
    top: 32px;
    left: 10px;
    opacity: .3
}

.user_buy:hover {
    color: red
}

.user_buy:active {
    color: #000;
    opacity: .3
}

.costomers_gallery a:hover,.user_buy:active::before {
    opacity: 1
}

.slider,.user_buy {
    position: relative
}

.slider,.slider_item,.slides {
    min-height: 412px
}

.toggle_controls {
    position: absolute;
    width: 200px;
    height: 18px;
    top: 300px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    z-index: 10
}

.toggle_controls label {
    width: 8px;
    height: 8px;
    margin: 0 7px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    cursor: pointer
}

#slider_btn_1:checked~.toggle_controls label[for=slider_btn_1],#slider_btn_2:checked~.toggle_controls label[for=slider_btn_2],#slider_btn_3:checked~.toggle_controls label[for=slider_btn_3] {
    background: #c1c1c1
}

.slider_item_title {
    margin: 0;
    padding-top: 60px;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 700;
    line-height: 55px;
    font-size: 55px;
    color: #000
}

.slider_item p {
    margin: 0;
    padding-top: 27px;
    padding-right: 20px;
    padding-bottom: 39px
}

.slider_item:nth-child(1) {
    background: url(../img/nerds-index-slide1.png) no-repeat right -18px
}

.slider_item:nth-child(2) {
    background: url(../img/nerds-index-slide2.png)no-repeat right 12px
}

.slider_item:nth-child(3) {
    background: url(../img/nerds-index-slide3.png)no-repeat right -18px
}

.slider_item {
    display: none
}

#slider_btn_1:checked~.slides .slider_item:nth-child(1),#slider_btn_2:checked~.slides .slider_item:nth-child(2),#slider_btn_3:checked~.slides .slider_item:nth-child(3) {
    display: block
}

.btn {
    display: inline-block;
    margin-top: 2px;
    padding: 15px 54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-family: "Roboto","Arial",sans-serif;
    vertical-align: top;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
    cursor: pointer
}

.btn:hover {
    background-color: #e74246
}

.btn:active {
    background-color: #d7373b;
    color: rgba(255,255,255,.3);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.5)
}

.btn.disabled,.btn:disabled {
    cursor: default;
    opacity: .5
}

.offers {
    display: block;
    min-height: 427px;
    margin-bottom: 39px;
    border-bottom: 1px solid rgba(128,128,128,.2)
}

.offers_item {
    width: 300px;
    float: left;
    margin-right: 100px
}

.offers_item:nth-child(3n) {
    margin-right: 0
}

.offers_title {
    margin: 0;
    padding-top: 18px;
    font-family: "Roboto","Arial",sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    font-kerning: normal;
    color: #000;
    text-transform: uppercase
}

.offers_item p {
    margin-top: 0;
    padding-top: 15px;
    padding-right: 19px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
    color: #283136
}

.offers_item .btn {
    width: 66px;
    padding-top: 16px;
    padding-left: 40px
}

.offers_item:nth-child(2) .btn {
    background-color: #00ca74
}

.offers_item:nth-child(3) .btn {
    background-color: #efc84a
}

.offers_item .btn:hover {
    background-color: #e74246
}

.offers_item:nth-child(2) .btn:hover {
    background-color: #00bc6c
}

.offers_item:nth-child(3) .btn:hover {
    background-color: #eab534
}

.offers_item .btn:active {
    background-color: #d7373b
}

.offers_item:nth-child(2) .btn:active {
    background-color: #00aa62
}

.offers_item:nth-child(3) .btn:active {
    background-color: #e5a722
}

.about_us {
    min-height: 485px;
    margin-bottom: 0;
    border-bottom: 2px solid rgba(128,128,128,.2)
}

.about_us_left {
    float: left;
    width: 660px
}

.about_us_title {
    margin: 0;
    padding-top: 35px;
    font-weight: 500;
    font-size: 45px;
    line-height: 46px;
    font-family: "Roboto","Arial",sans-serif;
    letter-spacing: .2px;
    color: #000
}

.about_us_left p {
    margin: 0;
    padding-top: 32px
}

.about_us_left h6,.about_us_right h6 {
    margin: 0;
    padding-top: 39px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: .1px
}

.about_us_left ul {
    list-style: none;
    margin: 13px 0 0;
    padding: 0 0 0 37px
}

.about_us_left li {
    position: relative;
    line-height: 47px
}

.about_us_left li::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 25px;
    left: -36px;
    top: 23px;
    background-color: #fb565a
}

.about_us_right {
    float: right;
    width: 360px;
    background: url(../img/nerds-illustration.png) no-repeat
}

.about_us_right h6 {
    padding-top: 246px;
    padding-left: 16px;
    letter-spacing: normal
}

.percent,sup {
    font-weight: 700
}

.percent {
    color: #000;
    font-size: 45px;
    line-height: 45px
}

sup {
    font-size: 30px;
    line-height: 27px
}

.features {
    margin-top: 0;
    padding-top: 41px
}

.costomers_gallery a,.features_item {
    display: inline-block;
    width: 110px;
    margin-right: 5px;
    vertical-align: baseline
}

.features_item_comment {
    margin-top: 17px;
    margin-left: 1px;
    line-height: 20px
}

.costomers_gallery {
    margin-bottom: 83px;
    font-size: 0;
    border-bottom: 2px solid rgba(128,128,128,.2)
}

.costomers_gallery a {
    position: relative;
    line-height: 0;
    min-height: 175px;
    float: left;
    width: 260px;
    margin-right: 40px;
    opacity: .2
}

.costomers_gallery a:active {
    opacity: .1
}

.costomers_gallery a::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 50px;
    right: -21px;
    top: 66px;
    background-color: rgba(128,128,128,.5)
}

.costomers_gallery a:hover::after {
    opacity: .2
}

.costomers_gallery a:nth-child(4n)::after {
    display: none
}

.costomers_gallery a:nth-child(4n) {
    margin-right: 0
}

.map,.social_btn a {
    min-height: 415px;
    background-color: #ebe4c8;
    position: relative
}

.map_contacts {
    position: absolute;
    background-color: #fff;
    width: 220px;
    top: 54px;
    left: 50%;
    margin-left: -580px;
    padding: 46px 50px;
    z-index: 2
}

.map_contacts_title,.phone_number {
    display: inline-block;
    vertical-align: baseline;
    color: #000
}

.map_contacts_title {
    padding-bottom: 2px;
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: uppercase
}

.map_contacts p {
    margin-top: 16px;
    margin-bottom: 0;
    line-height: 20px
}

.phone_number {
    padding-top: 13px;
    padding-right: 2px;
    text-decoration: none
}

.map_contacts_btn {
    padding: 15px 20px;
    margin-top: 36px;
    width: 178px
}

.social_footer {
    padding-top: 71px;
    padding-bottom: 60px
}

.social_btn {
    float: left;
    margin-right: 140px
}

.social_btn a {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 10px;
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
    background-color: gray;
    opacity: .2;
    font-size: 0
}

.social_btn a:hover {
    opacity: 1;
    background-color: #e74246
}

.social_btn a:active {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.5)
}

.social_btn a:active::before {
    opacity: .3
}

.social_btn a:last-child {
    margin-right: 0
}

.social_btn a::before {
    content: "";
    position: absolute;
    top: 32px;
    left: 27px;
    background-image: url(../img/sprite.png);
    background-position: 0 -46px;
    width: 26px;
    height: 15px
}

.social_btn a:nth-child(2)::before,.social_btn a:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 35px;
    width: 12px;
    height: 22px;
    background-image: url(../img/sprite.png);
    background-position: -15px -153px
}

.social_btn a:nth-child(3)::before {
    top: 28px;
    left: 29px;
    width: 21px;
    height: 21px;
    background-position: 0 -132px
}

.discount {
    float: left;
    width: 560px
}

.discount h3 {
    margin: 0;
    padding-top: 5px;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    letter-spacing: .2px
}

.discount p {
    margin-top: 0;
    padding-top: 10px
}

.write_us {
    display: none;
    z-index: 3;
    width: 960px;
    min-height: 590px;
    background-color: #fff;
    position: fixed;
    margin-left: -480px;
    top: 50%;
    left: 50%;
    margin-top: -295px;
    box-shadow: 0 30px 50px rgba(0,0,0,.7)
}

.write_us_show {
    display: block
}

.center_form {
    padding: 76px 80px 0 100px
}

.write_us h1 {
    float: left;
    margin: 0;
    font-size: 45px
}

.write_us form {
    clear: both
}

.close_window {
    float: right;
    margin-right: 10px;
    font-size: 0;
    background-image: url(../img/sprite.png);
    background-position: 0 -111px;
    opacity: .3;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border: 0;
    outline: none;
    cursor: pointer
}

.close_window:hover,.grid label:hover::before {
    opacity: 1
}

.close_window:active {
    opacity: .1
}

.form_element:nth-child(1) {
    margin-right: 40px
}

.form_element:nth-child(1),.form_element:nth-child(2) {
    float: left;
    margin-top: 49px;
    margin-bottom: 32px
}

.form_element:nth-child(3) {
    clear: both;
    margin-right: 20px
}

.form_element label {
    display: block;
    font-weight: 700;
    padding-bottom: 7px;
    color: #000
}

.form_element input {
    width: 344px;
    padding: 13px 0 13px 13px;
    border: 2px solid #d7dcde;
    outline: none
}

.form_element textarea {
    width: 746px;
    padding-top: 12px;
    padding-left: 8px;
    border: 2px solid #d7dcde;
    outline: none
}

.form_element input:hover,.form_element textarea:hover {
    border: 2px solid #b4b9bb
}

.form_element input:focus,.form_element textarea:focus {
    color: #444;
    border: 2px solid #000
}

.form_element input:invalid,.form_element textarea:invalid {
    color: #e74246;
    border: 2px solid #e74246
}

.write_us_btn {
    clear: both;
    width: 260px;
    margin-top: 49px;
    padding-top: 17px
}

input[type=text]::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #444;
    opacity: .5
}

input[type=text]::-moz-placeholder {
    color: #444;
    opacity: .5
}

input[type=text]:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {
    opacity: 1
}

input[type=text]:focus::-moz-placeholder {
    opacity: 1
}

.header_catalog {
    margin-bottom: 56px
}

.second_header h2 {
    margin: 0;
    padding-top: 60px;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    color: #000
}

.second_header {
    min-height: 224px
}

.settings {
    float: left;
    width: 260px
}

.settings b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000
}

.range-filter {
    padding-top: 10px;
    width: 240px;
    margin: 50px auto 10px
}

.range-controls {
    position: relative;
    height: 77px;
    margin-top: 50px;
    margin-bottom: 17px;
    padding: 0 20px;
    background: #eee;
    border-radius: 5px;
    overflow: hidden
}

.scale {
    margin-top: 39px;
    height: 2px;
    background: #d7dcde
}

.bar {
    height: 2px;
    background: #00ca74
}

.toggle {
    position: absolute;
    top: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid #fff;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%
}

.max-toggle {
    left: 160px
}

.max-price,.min-price {
    width: 55px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #eee;
    font-size: 16px;
    font-family: "Tahoma",sans-serif;
    text-align: center;
    color: #000;
    border-radius: 5px
}

.min-price {
    margin-right: 32px
}

.grid {
    margin-top: 54px;
    margin-bottom: 42px
}

input[type=checkbox],input[type=radio] {
    display: none
}

.apps label,.grid label {
    display: block;
    position: relative;
    padding-top: 16px;
    padding-left: 36px
}

.grid label::before {
    position: absolute;
    content: "";
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -61px;
    opacity: .4;
    width: 25px;
    height: 25px;
    top: 14px;
    left: 1px
}

input[type=radio]:checked+label::before {
    position: absolute;
    content: "";
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -86px;
    width: 25px;
    height: 25px;
    top: 14px;
    left: 1px
}

.grid label:disabled::before {
    opacity: .1
}

.apps {
    margin-bottom: 44px
}

.apps label::before {
    position: absolute;
    content: "";
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 0;
    width: 27px;
    height: 23px;
    top: 15px;
    left: 2px;
    opacity: .4
}

.apps label:hover::before {
    opacity: 1
}

.apps label:disabled::before {
    opacity: .1
}

input[type=checkbox]:checked+label::before {
    position: absolute;
    content: "";
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -23px;
    width: 27px;
    height: 23px;
    top: 15px;
    left: 2px
}

.settings_btn {
    width: 260px;
    background-color: #eee;
    color: #000;
    outline: none
}

.settings_btn:active,.settings_btn:hover {
    background-color: #dfdfdf
}

.settings_btn:active {
    color: rgba(0,0,0,.3)
}

.gallery {
    float: right;
    width: 760px;
    margin-bottom: 22px
}

.gallery_settings {
    margin-bottom: 53px
}

.gallery_settings b,.sort a {
    font-size: 18px;
    line-height: 18px;
    color: #000
}

.sort {
    float: right;
    width: 360px;
    font-size: 0;
    line-height: 0;
    position: relative
}

.sort a {
    display: inline-block;
    margin: 0 25px 0 0;
    padding: 3px 0;
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: baseline;
    opacity: .3;
    text-decoration: none
}

.sort a:hover {
    opacity: .6
}

.gallery_item:hover .gallery_item_header,.sort a:active {
    opacity: 1
}

.sort a:last-child {
    margin-right: 0
}

.sort a:nth-child(4),.sort a:nth-child(5) {
    content: "";
    position: absolute;
    font-size: 0;
    width: 9px;
    height: 9px;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -168px;
    right: 5px;
    top: 8px
}

.sort a:nth-child(5) {
    background-position: -9px -175px;
    right: 2px
}

.gallery_items {
    font-size: 0
}

.gallery_item {
    display: inline-block;
    position: relative;
    vertical-align: baseline;
    width: 360px;
    min-height: 615px;
    margin-right: 40px;
    margin-bottom: 38px
}

.gallery_item:nth-child(2n) {
    margin-right: 0
}

.gallery_item:hover{
  box-shadow: 0 5px 22px 0 #ccc
}

.buy_block a,.gallery_item:hover .buy_block {
    display: block
}

.gallery_item_header {
    min-height: 40px;
    background-image: url(../img/header_item.png);
    opacity: .12
}

.gallery_item_image {
    line-height: 0
}

.buy_block {
    display: none;
    content: "";
    position: absolute;
    width: 360px;
    top: 384px;
    background-color: #eee
}

.buy_block a {
    text-align: center
}

.gallery_name {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 28px;
    color: #000;
    text-decoration: none
}

.buy_block p {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #666
}

.gallery_item_btn {
    margin-top: 30px;
    margin-bottom: 45px;
    width: 90px;
    margin-left: 82px
}

.selector_pages {
    clear: both;
    float: left;
    margin-left: 400px;
    margin-bottom: 62px;
    line-height: 0;
    font-size: 0
}

.selector_pages_btn {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 12px;
    margin-top: 0;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #eee;
    color: #000
}

.selector_pages_btn:hover {
    background-color: #dfdfdf;
    color: #000
}

.selector_pages_btn:active {
    color: rgba(0,0,0,.3)
}

.current_page {
    padding: 11px 16px;
    border: 4px solid #eee;
    background-color: #fff;
    color: #000
}

.current_page:hover {
    border-color: #dfdfdf
}

.next_btn {
    margin-top: 0;
    width: 150px;
    font-size: 16px;
    background-color: #eee;
    color: #000
}

.current_page:hover,.next_btn:hover {
    background-color: #dfdfdf;
    color: #000
}

.next_btn:active {
    color: rgba(0,0,0,.3)
}