body {
  font-family: Roboto;
  font-weight: normal;
  line-height: 24px;
  font-size: 16px;
  color:black; 
}

.slider_item h2 {
  font-family: Roboto;
  font-weight: bold;
  line-height: 55px;
  font-size: 55px;
  color:black;
}

.offers_item h2 {
  font-family: Roboto;
  font-weight: 500;
  line-height: 30px;
  font-size: 24px;
  color:black;
  text-transform: uppercase;  
}